<h3>Product Form</h3>
<form action="/products" method="post">
  <p>enter the product's name<input type="text" name="name"></p>
  <p>enter the product's price: <input type="decimal" name="price"></p>
  <p>enter the product's description: <input type="text" name="description"></p>
  <p>enter the supplier id for this product: <input type="integer" name="supplier_id"></p>
  <p><input type="submit" value="Submit your new product."></p>

</form>